<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar productos</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info"  style="background-color:	#7CFC00" >
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link active" href='/'>{{ Menu }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href='/listarcliente'>{{ Cliente }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href='/listarfactura'>{{ Factura }}</a>
        </li>
        </ul>
    </nav>
    <h1>Listado de productos</h1>
    <table class="table table-sm table-info table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <body>
            {% for producto in productos %}
            <tr>
                <td>{{producto.id }}</td>
                <td>{{producto.descripcion }}</td>
                <td>{{producto.precio }}</td>
                <td>{{producto.stock }}</td>
                <td>
                    <ul>
                        <l1><a class="btn btn-outline-secondary" href="{% url 'producto' %}">Ingresar</a></l1>
                        <l1><a class="btn btn-outline-secondary" href="{% url 'editarproducto' producto.id %}">Modifcar</a></l1>
                        <l1><a class="btn btn-outline-secondary" href="{% url 'eliminarproducto' producto.id %}">Eliminar</a></l1>

                    </ul>

                </td>

            </tr>
            {% endfor %}
        </body>

    </table>
</body>

</html>