<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Producto}}</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info"  style="background-color: #e3f2fd;" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link active" href='/listarproducto'>{{ Producto }}</a>
          </li>
        </ul>
    </nav>
    <h1>{{Producto}}</h1>
    <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">{{accion}}</button>
    </form>

    <l1><a href='/admin/app/producto/'>Consultar {{ Producto }}</a></l1>
</body>

</html>